<div id="fullpage">
  <div class="section" id="introSection" data-anchor="introduction">
    <div class="container text-center">
      <%= image_tag "upseal.png", style: "padding-right: 25px" %>
      <%= image_tag "iap2m.png", style: "padding-left: 25px" %>
      <h1>
        <b>THE 5TH INTERNATIONAL CONFERENCE ON PROJECT & PROGRAM MANAGEMENT</b><br>
        <small>
          23-24 March 2017<br>
          Lahug Campus, University of the Philippines Cebu
        </small>
      </h1>
      <br><br>
      <b>Sponsored by:</b>
      <%= image_tag "fist.png", style: "max-height: 100px" %>
    </div>
  </div>
  <div class="section" id="briefSection" data-anchor="brief">
    <div class="container">
      <div class="page-header">
        <h1><b>CONFERENCE BRIEF</b></h1>
      </div>
      <p>
        Economic growth is a function of three elements, namely: manpower growth rate, capital stock growth rate, and the rate of technological progress. While more and more companies are relocating overseas and as society is rapidly aging, only technological advancement can be expected to grow in Japan. Even a country such as the Philippines should prepare for the possibility of decline in the working population. It is therefore essential to create and introduce innovations that are economically and technologically relevant in vitalizing and strengthening enterprises in both countries.
      </p>

      <p>
        Improvements in infrastructure, particularly in the transportation, power, telecommunication, and water services sector, are critical for a more competitive Philippines. Meanwhile, the Japanese government has always had a strong desire to cooperate with Asia’s emerging economies, specifically in these areas. Collaboration and partnership among developed and developing countries are essential as we all face problems associated with cutthroat competition at the global level in practically all fields, most especially in energy, natural resources, and environment.
      </p>
  
      <p>
        For enterprises to compete in the world market, it is crucial that the organization and its resources are efficiently managed and that the firm has the capability to quickly respond to changing situations and requirements, specifically in the implementation and management of projects. It is precisely the role of P2M to provide the theoretical and practical methods to achieve the goals of efficient and effective project and program management. And it is the purpose of IAP2M to present and discuss these methods and to explore possible collaborative activities between the Philippines and Japan.
      </p>

      <div class="page-header">
        <h3><b>THEMES</b></h3>
      </div>
      <li><b>The Role of Project & Program Management Under Cutthroat Competition in Global Markets</b></li>
      <li><b>Exploring New Approaches in Leading Innovation the Asian Way</b></li>
    </div>
  </div>
  <div class="section" id="overviewSection" data-anchor="overview">
    <div class="container">

      <div class="page-header text-center">
        <h1><b>CONFERENCE OVERVIEW</b></h1>
      </div>

      <div class="row">
        <div class="col-md-6">
          <table class="table table-hover">
            <thead>
              <tr>
                <th><h3><b>Main Tracks</b></h3></th>
              </tr>
            </thead>
            <tbody>
                <tr><td>Program Management for Leading Innovation: Theory and Practice</td></tr>
                <tr><td>Project and Program Management Applications</td></tr>
            </tbody>
          </table>
        </div>
        <div class="col-md-6">
          <table class="table table-hover">
              <thead>
                <tr>
                  <th><h3><b>Important Dates</b></h3></th>
                  <th></th>
                </tr>
              </thead>
              <tbody>
                  <tr>
                    <td>Last day for submission of abstracts</td>
                    <td><b>16 January 2017</b></td>
                  </tr>
                  <tr>
                    <td>Notification of Acceptance</td>
                    <td><b>13 February 2017</b></td>
                  </tr>
                  <tr>
                    <td>Deadline for Registration</td>
                    <td><b>20 February 2017</b></td>
                  </tr>
                  <tr>
                    <td>Conference Date</td>
                    <td><b>23-24 March 2017</b></td>
                  </tr>
              </tbody>
          </table>
        </div>
      </div>

      <div class="row">
        <div class="col-md-6">
          <table class="table table-hover">
            <thead>
              <tr>
                <th><h3><b>Topics of Interest</b></h3></th>
              </tr>
            </thead>
            <tbody>
                <tr><td>Japanese P2M: Innovation, Development and Improvement</td></tr>
                <tr><td>Knowledge-based Development Strategy</td></tr>
                <tr><td>International Partnership/Collaboration</td></tr>
                <tr><td>New Value-Creating Activity</td></tr>
                <tr><td>Community Revitalization</td></tr>
                <tr><td>Infrastructure Development</td></tr>
                <tr><td>Business Reforms Linked to Strategy</td></tr>
                <tr><td>Education and Training Programs</td></tr>
                <tr><td><small>*Other related topics are welcome.</small></td></tr>
            </tbody>
          </table>
        </div>
        <div class="col-md-6">
          <table class="table table-hover">
              <thead>
                <tr>
                  <th><h3><b>Program</b></h3></th>
                  <th></th>
                </tr>
              </thead>
              <tbody>
                  <tr>
                    <td><b>22 March</b></td>
                    <td>Arrival of participants in Cebu</td>
                  </tr>
                  <tr>
                    <td><b>23 March</b></td>
                    <td></td>
                  </tr>
                  <tr>
                    <td><li>09:00-12:30</li></td>
                    <td>Brief messages/addresses from delegation leaders</td>
                  </tr>
                  <tr>
                    <td></td>
                    <td>Paper presentations (max: 30 minutes each)</td>
                  </tr>
                  <tr>
                    <td><li>13:00-15:00</li></td>
                    <td>Luncheon/networking</td>
                  </tr>
                  <tr>
                    <td><b>24 March</b></td>
                    <td></td>
                  </tr>
                  <tr>
                    <td><li>09:00-12:30</li></td>
                    <td>Paper presentations (max: 30 minutes each)</td>
                  </tr>
                  <tr>
                    <td><li>13:00-14:30</li></td>
                    <td>Luncheon/networking</td>
                  </tr>
                  <tr>
                    <td><li>15:00-17:30</li></td>
                    <td>Technical tour</td>
                  </tr>
                  <tr>
                    <td><b>25 March</b></td>
                    <td>Departure of participants from Cebu</td>
                  </tr>
              </tbody>
          </table>
        </div>
      </div>
    </div>
  </div>
  <div class="section" id="speakerSection" data-anchor="speakers">
    <div class="container text-center">
      <div class="page-header">
        <h1><b>UP Keynote Speakers</b>
      </div>
      <div class="row">
        <div class="col-md-6">
          <figure>
            <%= image_tag "elvira_zamora.jpg", class: "img-rounded", style: "max-height: 200px" %>
            <figcaption>
              <b>Dr. Elvira A. Zamora</b><br>
              <small>
                Vice President for Development, UP System<br>
                Professor of Business Administration, UP Diliman
              </small>
            </figcaption>
          </figure>
        </div>
        <div class="col-md-6">
          <figure>
            <%= image_tag "liza_corro.jpg", class: "img-rounded", style: "max-height: 200px" %>
            <figcaption>
              <b>Prof. Liza D. Corro</b><br>
              <small>
                Dean and Acting Chancellor, UP Cebu
              </small>
            </figcaption>
          </figure>
        </div>
      </div>

      <div class="page-header">
        <h1><b>Japan Keynote Speakers</b>
      </div>
      <div class="row">
        <div class="col-md-4">
          <figure>
            <%= image_tag "kunio_yoshida.jpg", class: "img-rounded", style: "max-height: 200px" %>
            <figcaption>
              <b>Dr. Kunio Yoshida</b><br>
              <small>
                Professor Emeritus, University of Tokyo
              </small>
            </figcaption>
          </figure>
        </div>
        <div class="col-md-4">
          <figure>
            <%= image_tag "hideo_yamamoto.jpg", class: "img-rounded", style: "max-height: 200px" %>
            <figcaption>
              <b>Dr. Hideo Yamamoto</b><br>
              <small>
                Professor of Chuo University<br>
                Faculty of Strategic Management<br>
                IAP2M Vice President
              </small>
            </figcaption>
          </figure>
        </div>
        <div class="col-md-4">
          <figure>
            <%= image_tag "hideo_kameyama.png", class: "img-rounded", style: "max-height: 200px" %>
            <figcaption>
              <b>Dr. Hideo Kameyama</b><br>
              <small>
                Professor Emeritus, Tokyo University of Agriculture and Technology<br>
                IAP2M Vice President
              </small>
            </figcaption>
          </figure>
        </div>
      </div>
    </div>
  </div>
  <div class="section" id="committeeSection" data-anchor="committees">
    <div class="container">
      <div class="page-header text-center">
        <h1><b>Conference Committee</b>
      </div>
      <p class="text-center">
        <b>Chair:</b> Dr. Kunio Yoshida, Professor Emeritus, University of Tokyo<br>
        <b>Co-chair:</b> Dr. Elvira Zamora, VP for Development and Professor, UP
      </p>

      <div class="row">
        <div class="col-md-4">
          <div class="page-header text-center">
            <h3><b>Program Sub-Committee</b></h3>
          </div>
          <p>
            <b>Chair:</b> Dr. Kunio Yoshida, Professor Emeritus, University of Tokyo
            <br><br>
            <b>Members:</b><br>
            <li>Dr. Shigenobu Ohara, IAP2M President</li>
            <li>Dr. Hideo Yamamoto, Professor, Chuo University</li>
            <li>Dr. Hideo Kameyama, Professor Emeritus, Tokyo University of Agriculture and Technology</li>
          </p>
        </div>
        <div class="col-md-4">
          <div class="page-header text-center">
            <h3><b>Local Organizing Sub-Committee (Japan)</b></h3>
          </div>
          <p>
            <b>Chair:</b> Mr. Hisao Wataki, IAP2M Secretary General
            <br><br>
            <b>Members:</b><br>
            <li>Dr. Hirofumi Kubo, Professor, Chiba Institute of Technology</li>
            <li>Mr. Fumihiko Okiura, JICA Tokyo Office</li>
            <li>Dr. Hironori Takuma, Assistant Professor, Chiba Institute of Technology</li>
            <li>Dr. Masayuki Nakayama, Japan Society for the Promotion of Science</li>
            <li>Dr. Tatsuo Sato, Tokyo University of Agriculture and Technology</li>
          </p>
        </div>
        <div class="col-md-4">
          <div class="page-header text-center">
            <h3><b>Local Organizing Sub-Committee (Philippines)</b></h3>
          </div>
          <p>
            <b>Chair:</b> Prof. Liza D. Corro, Acting Chancellor and Dean, UP Cebu<br>
            <b>Co-chair:</b> Dr. Elvira A. Zamora, Vice President for Development, University of the Philippines
            <br><br>
            <b>Members:</b><br>
            <li>Dr. Yuleta Orillo, UP Cebu</li>
            <li>Dr. Tiffany G. Tan, UP Cebu</li>
            <li>Dr. Gretchen Chavez, UP Cebu</li>
            <li>Dr. Jane Matero, UP Cebu</li>
            <li>Dr. Leahliz Sia, UP Cebu</li>
            <li>Prof. Marilou Busano, UP Cebu</li>
            <li>Prof. Jesus Cinco, UP Cebu</li>
            <li>Prof. Ernesto Yap, UP Cebu</li>
            <li>Prof. Rhenozo Barte, UP Cebu</li>
            <li>Prof. Stevenson Uy, UP Cebu</li>
            <li>Prof. Jeff Macfarland, UP Cebu</li>
            <li>Prof. Joan Aileen Vicente, UP Cebu</li>
            <li>Mr. Carlos N. Forteza, UP System</li>
            <li>Mr. Richmon M. Pancho, UP System</li>
          </p>
        </div>
      </div>
    </div>
  </div>
  <div class="section" id="submissionSection" data-anchor="submission">
    <div class="container">
      <div class="page-header text-center">
        <h1><b>Submission</b></h1>
      </div>
      <h3 class="text-center"><b>Please submit abstracts and full papers at <%= link_to "https://goo.gl/Iw86Mj", "https://goo.gl/Iw86Mj", target: "_blank" %></b></h3>
      <br>
      <li>All submissions must be in written in English.</li>
      <li>Full papers must have a minimum of five (5) and a maximum of eight (8) printed pages, including figures. Short papers are acceptable, with a minimum and maximum of three (3) and four (4), respectively.</li>
      <li>Papers should be written to adhere to the standards of APA citation format. Only PDF files and Word/ODT documents will be accepted for the review process.</li> 

      <div class="page-header text-center">
        <h1><b>Publication</b></h1>
      </div>
      <h3 class="text-center"><b>Accepted papers will be published in the conference proceedings. Excellent papers will be chosen for submission to the Academic Journal of IAP2M (Japan).</b></h3>
    </div>
  </div>
</div>

            
